Source: client-req
Section: unknown
Priority: optional
Maintainer: ildar <ildar@local>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.0
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/client-req
#Vcs-Git: https://salsa.debian.org/debian/client-req.git
Rules-Requires-Root: no

Package: client-req
Architecture: all
Depends: ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
